<div class="contacts-list" layout="column">
  <span flex=""></span>
  <div layout="column" class="main-wrapper md-whiteframe-1dp">
    <h1>Contacts</h1>
    <form class="md-whiteframe-z1" ng-submit="uploadFile()" name="form" style="padding: 10px;" novalidate>

      <div>
        <p>If you have a business card, take a photo or upload it below:</p>
        <input type="file" accept="image/*" capture="camera" file-model="myFile"><br/>
      </div>

      <div>
        <input class="md-button md-raised md-primary" type="submit" value="Run OCR powered by HPE Haven onDemand">
      </div>
    </form>

    <form class="md-whiteframe-z1" ng-submit="save()" name="form" novalidate layout-padding="">
      <p>Add a contact</p>
      <md-input-container>
        <label>Name</label>
        <input ng-model="newContact.name" placeholder="Name">
      </md-input-container>
      <md-input-container>
        <label>Phone</label>
        <input ng-model="newContact.phone" placeholder="512-123-4567">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input ng-model="newContact.email" placeholder="email@gmail.com">
      </md-input-container>
      <md-input-container>
        <label>Address</label>
        <input ng-model="newContact.address" placeholder="123 ABC St.">
      </md-input-container>
      <input class="md-button" type="submit" value="Add">
    </form>
    <div layout="row" layout-padding="">
      <md-input-container flex="65">
        <label>Search</label>
        <input type="Search" ng-model="search" placeholder="Search">
      </md-input-container>
      <md-select ng-model="orderProperty" flex="35">
        <md-option value="1">Ascending</md-option>
        <md-option value="-1">Descending</md-option>
      </md-select>
    </div>

    <ul>
      <li dir-paginate="contact in contacts | itemsPerPage: perPage" total-items="contactsCount" current-page='page'>
        <p><a href="/contacts/{{contact._id}}">{{ contact.name }}</a> <button ng-click="remove(contact)">&times;</button></p>
      </li>
    </ul>
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

    <p>Total number of contacts: {{contactsCount}}</p>
  </div>
  <span flex=""></span>
</div>
