<div class="event-detail" layout="row">
  <span flex=""></span>
  <div layout="column">
    <h1>Here are the details of the event</h1>
    <form name="form" ng-submit="save()" class="md-whiteframe-z1" layout-padding layout="column">
      <md-input-container>
        <input ng-model="event.subject" placeholder="Subject">
      </md-input-container>

      <md-contact-chips
        ng-model="selectedContacts"
        md-contacts="querySearch($query)"
        md-contact-name="name"
        md-contact-email="email"
        md-require-match="true"
        md-highlight-flags="i"
        placeholder="To">
    </md-contact-chips>

      <div layout="row" layout-align="center center">
        <md-datepicker ng-model="event.startDate" md-placeholder="Start date">
        </md-datepicker>
        <md-input-container class="md-block">
          <input required type="number" step="any" name="rate" ng-model="startHour" min="0"
                 max="24" ng-pattern="/^\d+$/" />
        </md-input-container>
        <span>:</span>
        <md-input-container class="md-block">
          <input required type="number" step="any" name="rate" ng-model="startMinute" min="0"
                 max="60" ng-pattern="/^\d+$/" />
        </md-input-container>
      </div>

      <div layout="row" layout-align="center center">
        <md-datepicker ng-model="event.endDate" md-placeholder="Start date">
        </md-datepicker>
        <md-input-container class="md-block">
          <input required type="number" step="any" name="rate" ng-model="endHour" min="0"
                 max="24" ng-pattern="/^\d+$/" />
        </md-input-container>
        <span>:</span>
        <md-input-container class="md-block">
          <input required type="number" step="any" name="rate" ng-model="endMinute" min="0"
                 max="60" ng-pattern="/^\d+$/" />
        </md-input-container>
      </div>

      <md-input-container class="md-block">
          <label>Notes</label>
          <textarea ng-model="event.note" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>


      <div layout="row">
        <input class="md-button" type="submit" value="Save">
        <md-button ng-click="reset()">Reset</md-button>
        <md-button href="/events">Cancel</md-button>
      </div>
    </form>
  </div>
  <span flex=""></span>
</div>
